option_settings:
  "aws:elasticbeanstalk:container:python":
    WSGIPath: application:application
commands:
  install_chrome_driver:
    command: |
      curl -sS -o - https://dl-ssl.google.com/linux/linux_signing_key.pub | apt-key add -
      echo "deb https://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google-chrome.list
      apt-get update
      apt-get -y install google-chrome-stable unzip
      CHROMEDRIVER_VERSION=`curl -sS chromedriver.storage.googleapis.com/LATEST_RELEASE`
      wget -N https://chromedriver.storage.googleapis.com/${CHROMEDRIVER_VERSION}/chromedriver_linux64.zip -P /root/
      unzip /root/chromedriver_linux64.zip -d /usr/local/bin/
      chmod +x /usr/local/bin/chromedriver

option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/opt/python/current/app:/opt/python/current/app/scraper"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    "/static/": "https://s3.amazonaws.com/my-bucket/static/"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    "/media/": "https://s3.amazonaws.com/my-bucket/media/"
